body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.face {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@keyframes spinner {
  0% {
    transform: translateZ(-50px) rotateY(0deg) rotateX(0deg);
  }
  20% {
    transform: translateZ(-100px) rotateY(170deg) rotateX(110deg);
  }
  40% {
    transform: translateZ(-150px) rotateY(260deg) rotateX(160deg);
  }
  60% {
    transform: translateZ(-100px) rotateY(450deg) rotateX(250deg);
  }
  80% {
    transform: translateZ(-100px) rotateY(550deg) rotateX(310deg);
  }
  100% {
    transform: translateZ(-50px) rotateY(720deg) rotateX(360deg);
  }
}

.book {
  width: 348px;
  height: 564px;
  position: relative;
  transform-style: preserve-3d;
}

.book {
  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
}

@keyframes open {
  0% {
    transform: translateZ(33.125px) perspective(4000px) rotateY(-90deg);
  }
  50% {
    transform: translateZ(33.125px) perspective(4000px) rotateY(0deg);
  }
  100% {
    transform: translateZ(33.125px) perspective(4000px) rotateY(-90deg);
  }
}

@keyframes popen {
  0% {
    transform: translateZ(33.025px) perspective(4000px) rotateY(-90deg);
  }
  50% {
    transform: translateZ(33.025px)  perspective(4000px) rotateY(0deg);
  }
  100% {
    transform: translateZ(33.025px)  perspective(4000px) rotateY(-90deg);
  }
}

.front {
  transform-origin: left top;
  animation-name: open;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}

#page0 {
  transform-origin: right bottom;
  animation-name: popen;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
