body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: white;
  line-height: 1.5em;
  background: black;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

@keyframes spinner {
  0% {
    transform: translateZ(-50px) rotateY(0deg) rotateX(0deg);
  }
  20% {
    transform: translateZ(-100px) rotateY(170deg) rotateX(110deg);
  }
  40% {
    transform: translateZ(-150px) rotateY(260deg) rotateX(160deg);
  }
  60% {
    transform: translateZ(-100px) rotateY(450deg) rotateX(250deg);
  }
  80% {
    transform: translateZ(-100px) rotateY(550deg) rotateX(310deg);
  }
  100% {
    transform: translateZ(-50px) rotateY(720deg) rotateX(360deg);
  }
}

.book {
  position: relative;
  transform-style: preserve-3d;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.face {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

@keyframes open {
  0% {
    transform: rotateY(-120deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-120deg);
  }
}

.see-front {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(10deg) scale(1.5) !important;
}

.see-front div.front, .see-front #page0, .see-front #page1, .see-front #page2,
.see-front #page3, .see-front #page4, .see-front #page5, .see-front #page6 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) !important;
}



.see-back {
  transition: all 1s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(180deg) rotateZ(-200deg) scale(1.5) !important;
}

.open-1, .open-2, .open-3, .open-4 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(-10deg) scale(1.5) translateX(300px) !important;
}

.open-1 div.front, .open-1 #page0 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(-170deg) !important;
}

.open-2 div.front, .open-2 #page0, .open-2 #page1, .open-2 #page2 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(-170deg) !important;
}

.open-3 div.front, .open-3 #page0, .open-3 #page1, .open-3 #page2,
.open-3 #page3, .open-3 #page4 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(-170deg) !important;
}


.open-4 div.front, .open-4 #page0, .open-4 #page1, .open-4 #page2,
.open-4 #page3, .open-4 #page4, .open-4 #page5, .open-4 #page6 {
  transition: all 2s;
  transform-style: preserve-3d;
  transform: rotateY(-170deg) !important;
}

.normal {
  transition: all 1s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(1) !important;
}

.closing div.front, .closing #page0, .closing #page1, .closing #page2,
.closing #page3, .closing #page4, .closing #page5, .closing #page6 {
  transition: all 5s;
  transform-style: preserve-3d;
  transform: rotateY(0deg) !important;
}
